.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: rgb(209, 232, 254);
  text-transform: capitalize;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: rgb(254, 209, 217);
}
